
H4.centered {
    text-align: center
}

SPAN.swiss {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 92%
}

SPAN.roman {
    font-family: "Times New Roman", Times, serif
}

DIV.paranum {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64%;
    width: 2.8em;
    margin-left: -0.4em;
    margin-right: -3.0em;
    margin-top: 0.2em
}

TT {
    font-family: "Courier New", monospace
}

DT {
/*    display: compact */
}

A.Bar:link {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal; /*text-dec;*/
/*    oration: none; */
    color: rgb(204,204,51)
}

A.Bar:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    color: rgb(204,204,51)
}

DIV.Normal {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 1.8em;
    margin-bottom: 0.6em
}

DIV.Indented1 {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 3.8em;
    margin-bottom: 0.6em
}

DIV.Notes {
    font-family: "Times New Roman", Times, serif;
    font-size: 80%;
    line-height: 122%;
    margin-left: 4.3em;
    margin-bottom: 0.6em
}

DIV.Bulleted-NoPrefix {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 3.8em;
    margin-right: 2.0em;
    margin-top: 0em;
    margin-bottom: 0.5em
}

DIV.Bulleted {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 3.8em;
    margin-right: 2.0em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    display: list-item;
    list-style-type: disc
}

DIV.Indented2Bulleted-NoPrefix {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 5.8em;
    margin-right: 2.0em;
    margin-top: 0em;
    margin-bottom: 0.5em
}

DIV.Indented2Bulleted {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 5.8em;
    margin-right: 2.0em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    display: list-item;
    list-style-type: disc
}

DIV.WideHanging-Body {
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 7.8em;
    margin-top: 0em;
    margin-bottom: 0.6em
}

DIV.WideHanging-Term {
    float: left;
    font-family: "Times New Roman", Times, serif;
    line-height: 122%;
    margin-left: 1.8em;
    margin-top: 0em;
    margin-bottom: 0em
}

DIV.Annotations {
    margin-left: 1.8em;
    margin-bottom: 0.3em
}

DIV.Index {
    margin-left: 2.7em;
    margin-bottom: 0.3em
}

DIV.Examples {
    font-family: "Courier New", monospace;
    line-height: 122%;
    margin-left: 2.7em;
    margin-bottom: 0.6em;
    background: #EFE;
}

DIV.Indented2 {
    font-family: "Courier New", monospace;
    line-height: 122%;
    margin-left: 3.0em;
    margin-bottom: 0.6em
}

DIV.SmallBulleted {
    line-height: 122%;
    margin-left: 3.0em;
    margin-bottom: 0.2em;
    display: list-item;
    list-style-type: disc
}

DIV.SmallExamples {
    font-family: "Courier New", monospace;
    line-height: 122%;
    margin-left: 3.0em;
    margin-bottom: 0.6em;
    background: #EFE;
}

DIV.Indented4Examples {
    font-family: "Courier New", monospace;
    line-height: 122%;
    margin-left: 3.0em;
    margin-bottom: 0.6em
}

DIV.Indented4Bulleted {
    margin-left: 2.7em;
    margin-bottom: 0.6em
}

DIV.Indented4SmallNestedBulleted {
    margin-left: 3.4em;
    margin-bottom: 0.6em;
    display: list-item;
    list-style-type: disc
}

DIV.Indented2NestedBulleted {
    line-height: 122%;
    margin-left: 2.7em;
    margin-bottom: 0.6em;
    display: list-item;
    list-style-type: disc
}

DIV.Indented5NestedBulleted {
    line-height: 122%;
    margin-left: 3.7em;
    margin-bottom: 0.6em;
    display: list-item;
    list-style-type: disc
}

DIV.NarrowHanging-Term {
    margin-left: 1.8em;
    margin-bottom: 0.0em;
}

DIV.NarrowHanging-Body {
    margin-left: 2.2em;
    margin-top: -1.0em;
    margin-bottom: 0.6em;
}

DIV.Enumerated-Term {
    margin-left: 1.8em;
    margin-bottom: 0.0em;
}

DIV.Enumerated-Body {
    margin-left: 3.3em;
    margin-top: -1.4em;
    margin-bottom: 0.6em;
}

DIV.WideAbove {
    margin-left: 1.8em;
}

DIV.IndexNavigation {
    margin-left: 1.8em;
    margin-bottom: 0.6em;
}

a.IndexNavigation {
    font-family: "Courier New", monospace;
    font-style: normal;
    font-size: 150%;
    padding-right: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    border-style: solid;
    border-width: 5px;
    background: #EFE;
    border-color: #Ada;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #CDC;
    margin: 15px;
    padding: 10px;
}

.grid-container > div {
    border-style: solid;
    border-width: 5px;
    background: #EFE;
    border-color: #Ada;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #CDC;
    margin: 15px;
    padding: 10px;
    align: top;
}

/*
 * Toplevel page
 */

/* Heading */
.item20 {
    grid-column: 1 / span 2;
}

/* Configuraion */
.item21 {
    grid-row: 2 / span 3;
    grid-column: 1;
}

/* Shorcuts */
.item22 {
    grid-row: 2;
    grid-column: 2 / span 3;
}

/* Navigation */
.item23 {
    grid-row: 3;
    grid-column: 2 / span 3;
}

/* Feedback */
.item24 {
    grid-column: 1 / span 2;
}

/*
 ** Search page
 */

/* Search input */
.item11 {
    grid-column: 1 / span 2;
}

/* Search results */
.item12 {
    grid-column: 1 / span 2;
}
