
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    border-style: solid;
    border-width: 5px;
    background: #EFE;
    border-color: #Ada;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #CDC;
    margin: 15px;
    padding: 10px;
}

.grid-container > div {
    border-style: solid;
    border-width: 5px;
    border-color: #Ada;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #CDC;
    margin: 15px;
    padding: 10px;
}

/*
 * Toplevel page
 */

/* Heading */
.item20 {
    grid-column: 1 / span 2;
    margin-left: 0.7em;
}

/* Configuraion */
.item21 {
    grid-row: 2 / span 3;
    grid-column: 1;
    list-style-type: none;
}

/* Key navigation */
.item23 {
    grid-row: 2;
    border: 1px solid;
    border-width: 3px;
    border-color: #Ada;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    margin-left: 2.3em;
}

/* Feedback */
.item24 {
    grid-column: 2;
    background-image: url('/assets/images/ada180.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 136px 156px;
}

p.item24-p {
    margin-right: 140px;
}

/* Modernize */
.item31 {
    list-style: none;
}

/* Submit */
.item41 {
    list-style: none;
}

/*
 ** Search page
 */

/* Heading */
.item10 {
    margin-left: 0.7em;
}

/* Search input */
.item11 {
    grid-column: 1 / span 2;
}

/* Search results */
.item12 {
    grid-column: 1 / span 2;
}

/*
 * Navigation bar header
 */

/*
.nav {
}

header.nav {
}
*/

ul.nav {
    list-style-type: none;
    background-color: #FFF;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-decoration: normal;
    margin: 0px;
    margin-left: -24px;
    overflow: hidden;
}

a {
    text-decoration: none; !important!;
}

li.nav {
}

a.nav-contents {
    background-image: url(/assets/images/star.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    float: left;
    font-style: normal;
    padding-left: 50px;
    padding-right: 24px;
    color: #242;
}

a.nav-index {
    background-image: url(/assets/images/folder.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    border-right: 1px solid #333;
    float: left;
    font-style: normal;
    padding-left: 50px;
    padding-right: 24px;
    color: #242;
}

a.nav-reference {
    background-image: url(/assets/images/book.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    border-right: 1px solid #333;
    float: left;
    font-style: normal;
    padding-left: 50px;
    padding-right: 24px;
    color: #242;
}

a.nav-search {
    background-image: url(/assets/images/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    border-right: 1px solid #333;
    float: left;
    font-style: normal;
    padding-left: 50px;
    padding-right: 24px;
    color: #242;
}

a.nav-top {
    background-image: url(/assets/images/gear.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: 24px;
    border-right: 1px solid #333;
    float: left;
    font-style: normal;
    padding-left: 50px;
    padding-right: 24px;
    color: #242;
}
