
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    border-style: solid;
    border-width: 5px;
    background: #EFE;
    border-color: #Ada;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #CDC;
    margin: 15px;
    padding: 10px;
    /*
    * background-image: url('/assets/images/ada180.jpg');
    * background-repeat: no-repeat;
    * background-position: top right;
    * background-size: 360px 400px;
    * filter: blur(0.5px);
    */
}

.grid-container > div {
    border-style: solid;
    border-width: 5px;
    background: #EFE;
    border-color: #Ada;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #CDC;
    margin: 15px;
    padding: 10px;
}

/*
 * Toplevel page
 */

/* Heading */
.item20 {
    grid-column: 1 / span 2;
    margin-left: 0.7em;
}

/* Configuraion */
.item21 {
    grid-row: 2 / span 3;
    grid-column: 1;
    list-style-type: none;
}

/* Shorcuts */
.item22 {
    grid-row: 2;
    grid-column: 2 / span 3;
    list-style-type: none;
}

/* Key navigation */
.item23 {
    grid-row: 3;
    grid-column: 2 / span 3;
    border: 1px solid;
    border-width: 3px;
    border-color: #Ada;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}


/* Feedback */
.item24 {
    grid-column: 1 / span 2;
}

/*
 ** Search page
 */

/* Heading */
.item10 {
    margin-left: 0.7em;
}

/* Search input */
.item11 {
    grid-column: 1 / span 2;
}

/* Search results */
.item12 {
    grid-column: 1 / span 2;
}
